.grid-hanzi {
    font-size: 25px;
    margin: 0;
}

.grid-id {
    font-size: 8px;
    margin: 0;
}

@media screen and (max-width: 850px) {
    .grid-hanzi {
        font-size: 19px;
        margin: 0;
    }
    .grid-id {
        font-size: 6px;
        margin: 0;
    }
    .char-display h2 {
        font-size: 24px;
    }

    .char-display h4 {
        font-size: 16px;
    }

    .char-display h6 {
        font-size: 9px;
    }

    .char-display a {
        font-size: 7px;
    }
}